/* Página Agenda */

#cabecalho {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.header{
  background: linear-gradient(120deg, #2BDEFD 0%, #144480 100%,#7F26F1 0%);
  padding: 24px;
  text-align: center;
  color: #FFF;
}

.agenda,
.agenda * {
  box-sizing: border-box;
}
.agenda {
  background: var(--cinza-claro, #e3e3e3);
  height: 852px;
  position: relative;
  overflow: hidden;
}
.rectangle-83 {
  background: #d9d9d9;
  border-radius: 8px;
  border-style: solid;
  border-color: #c2c2c2;
  border-width: 1px;
  width: 243px;
  height: 38px;
  position: absolute;
  left: 34px;
  top: 34px;
}
.pesquisas-clientes {
  color: #a5a5a5;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 44px;
  top: 41px;
}
.vector {
  width: 4.58%;
  height: 2.11%;
  position: absolute;
  right: 33.08%;
  left: 62.34%;
  bottom: 92.49%;
  top: 5.4%;
  overflow: visible;
}
.ellipse-1 {
  background: var(--azul-medio, #144480);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 304px;
  top: 25px;
}
.group-36 {
  position: absolute;
  inset: 0;
}
.group-1 {
  width: 309px;
  height: 31px;
  position: static;
}
._09-05-2024-20-57 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 82.16%;
  top: 15.96%;
  height: 1.88%;
}
.fulano-de-tal {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 81.57%;
  top: 15.61%;
  height: 2.82%;
}
.line-1 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 85.21%;
  top: 14.79%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-50 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-572 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 77.11%;
  top: 21.01%;
  height: 1.88%;
}
.fulano-de-tal2 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 76.53%;
  top: 20.66%;
  height: 2.82%;
}
.line-12 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 80.16%;
  top: 19.84%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-51 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-573 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 72.07%;
  top: 26.06%;
  height: 1.88%;
}
.fulano-de-tal3 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 71.48%;
  top: 25.7%;
  height: 2.82%;
}
.line-13 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 75.12%;
  top: 24.88%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-52 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-574 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 67.02%;
  top: 31.1%;
  height: 1.88%;
}
.fulano-de-tal4 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 66.43%;
  top: 30.75%;
  height: 2.82%;
}
.line-14 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 70.07%;
  top: 29.93%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-53 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-575 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 61.97%;
  top: 36.15%;
  height: 1.88%;
}
.fulano-de-tal5 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 61.38%;
  top: 35.8%;
  height: 2.82%;
}
.line-15 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 65.02%;
  top: 34.98%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-54 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-576 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 56.92%;
  top: 41.2%;
  height: 1.88%;
}
.fulano-de-tal6 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 56.34%;
  top: 40.85%;
  height: 2.82%;
}
.line-16 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 59.98%;
  top: 40.02%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-55 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-577 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 51.88%;
  top: 46.24%;
  height: 1.88%;
}
.fulano-de-tal7 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 51.29%;
  top: 45.89%;
  height: 2.82%;
}
.line-17 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 54.93%;
  top: 45.07%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-56 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-578 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 46.83%;
  top: 51.29%;
  height: 1.88%;
}
.fulano-de-tal8 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 46.24%;
  top: 50.94%;
  height: 2.82%;
}
.line-18 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 49.88%;
  top: 50.12%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-57 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-579 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 41.78%;
  top: 56.34%;
  height: 1.88%;
}
.fulano-de-tal9 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 41.2%;
  top: 55.99%;
  height: 2.82%;
}
.line-19 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 44.84%;
  top: 55.16%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-58 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-5710 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 36.74%;
  top: 61.38%;
  height: 1.88%;
}
.fulano-de-tal10 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 36.15%;
  top: 61.03%;
  height: 2.82%;
}
.line-110 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 39.79%;
  top: 60.21%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-59 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-5711 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 31.69%;
  top: 66.43%;
  height: 1.88%;
}
.fulano-de-tal11 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 31.1%;
  top: 66.08%;
  height: 2.82%;
}
.line-111 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 34.74%;
  top: 65.26%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-60 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-5712 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 26.64%;
  top: 71.48%;
  height: 1.88%;
}
.fulano-de-tal12 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 26.06%;
  top: 71.13%;
  height: 2.82%;
}
.line-112 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 29.69%;
  top: 70.31%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-61 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-5713 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 21.6%;
  top: 76.53%;
  height: 1.88%;
}
.fulano-de-tal13 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 21.01%;
  top: 76.17%;
  height: 2.82%;
}
.line-113 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 24.65%;
  top: 75.35%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-62 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-5714 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 16.55%;
  top: 81.57%;
  height: 1.88%;
}
.fulano-de-tal14 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 15.96%;
  top: 81.22%;
  height: 2.82%;
}
.line-114 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 19.6%;
  top: 80.4%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-63 {
  position: absolute;
  inset: 0;
}
._09-05-2024-20-5715 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  right: 56.74%;
  left: 10.43%;
  width: 32.82%;
  bottom: 11.5%;
  top: 86.62%;
  height: 1.88%;
}
.fulano-de-tal15 {
  color: #5f5f5f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  right: 11.45%;
  left: 55.73%;
  width: 32.82%;
  bottom: 10.92%;
  top: 86.27%;
  height: 2.82%;
}
.line-115 {
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px 0 0 0;
  width: 78.63%;
  height: 0%;
  position: absolute;
  right: 10.94%;
  left: 10.43%;
  bottom: 14.55%;
  top: 85.45%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-49 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 783px;
  overflow: visible;
}
.vector2 {
  width: 8.02%;
  height: 4.23%;
  position: absolute;
  right: 11.58%;
  left: 80.41%;
  bottom: 91.78%;
  top: 3.99%;
  overflow: visible;
}
.vector3 {
  width: 7.38%;
  height: 2.93%;
  position: absolute;
  right: 83.21%;
  left: 9.41%;
  bottom: 86.74%;
  top: 10.33%;
  overflow: visible;
}

/* Footer */
.footer {
  text-decoration:none;
  text-align: center;
  color: #144480;
 
}

/* Fim Página Agenda */
