/* Página Agendar */

#cabecalho {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.agendar-consulta-modal,
.agendar-consulta-modal * {
  box-sizing: border-box;
}
.agendar-consulta-modal {
  background: var(--cinza-claro, #e3e3e3);
  height: 490px;
  position: relative;
  overflow: hidden;
}
.rectangle-83 {
  background: #d9d9d9;
  border-radius: 8px;
  border-style: solid;
  border-color: #c2c2c2;
  border-width: 1px;
  width: 339px;
  height: 38px;
  position: absolute;
  left: 27px;
  top: 39px;
}
.rectangle-84 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #c2c2c2;
  border-width: 1px;
  width: 191px;
  height: 38px;
  position: absolute;
  left: 42px;
  top: 100px;
}
.pesquisas-clientes {
  color: #a5a5a5;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 37px;
  top: 46px;
}
.hor-rio {
  color: #a5a5a5;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 52px;
  top: 107px;
  width: 159px;
  height: 23px;
}
.vector {
  width: 4.58%;
  height: 3.67%;
  position: absolute;
  right: 9.42%;
  left: 86.01%;
  bottom: 86.73%;
  top: 9.59%;
  overflow: visible;
}

.rectangle-147,
.rectangle-147 * {
  box-sizing: border-box;
}
.rectangle-147 {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: var(--cinza, #c4c4c4);
  border-width: 1px;
  width: 311.33px;
  height: 260px;
  position: relative;
}

/* Figma Styles of your File */

:root {
  /* Colors */
  --azul-void: #01080e;
  --azul-escuro: #041832;
  --azul-medio: #144480;
  --azul-neon: #2bdefd;
  --roxo: #8026f1;
  --cinza: #c4c4c4;
  --cinza-claro: #e3e3e3;
  --branco: #ffffff;
  --azul-escuro-degrade: linear-gradient(
    52.7deg,
    rgba(7, 32, 65, 1) 0%,
    rgba(4, 24, 51, 1) 50%,
    rgba(21, 69, 128, 1) 100%
  );

  /* Fonts */
  --texto-leve-font-family: Inter-Light, sans-serif;
  --texto-leve-font-size: 16px;
  --texto-leve-line-height: normal;
  --texto-leve-font-weight: 300;
  --texto-leve-font-style: normal;
  --texto-medio-font-family: Inter-Medium, sans-serif;
  --texto-medio-font-size: 16px;
  --texto-medio-line-height: normal;
  --texto-medio-font-weight: 500;
  --texto-medio-font-style: normal;
  --texto-negrito-font-family: Inter-Bold, sans-serif;
  --texto-negrito-font-size: 16px;
  --texto-negrito-line-height: normal;
  --texto-negrito-font-weight: 700;
  --texto-negrito-font-style: normal;

  /* Effects */
}

/* Fim Página Agendar */
